<?xml version='1.0' encoding='utf-8'?>
<widget id="io.pwnd.endlessrunner" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Endless Runner</name>
    <description>
        A sample Endless Runner written for the Microsoft Virtual Academy using Phaser.io
    </description>
    <author email="dariusz@kouder.net" href="http://pwnd.io">
        Dariusz Parys
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
